html {
    background-color: #FFFFFF;
}
body {
    margin: 0px;
    font-family: "Open Sans", "Helvetica", "Arial", sans serif;
    font-size: 16px;
    padding-top: 50px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Helvetica", "Arial", sans serif;
}
.navbar-brand {
    font-size: 36px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.navbar-default .navbar-brand {
    color: #00bd9c;
}
.navbar-portfolio{
    padding-bottom: 0px;
}
.btn-success {
    color: #fff;
    background-color: #00bd9c;
    border-color: #00bd9c;
}
.btn-success: hover {
    color: #fff;
    background-color: #00bd9c;
    border-color: #00bd9c;
}
.featurette-divider {
    margin: 40px 0; /* Space out the Bootstrap <hr> more */
}
.featurette-divider-portfolio {
    margin: 0px 0; /* Space out the Bootstrap <hr> more */
}
.marketing .col-lg-4 {
    margin-top: 10px;
}
.row-even {
    background-color:#D9D9D9;
    padding-bottom:45px;
}
.row-odd {
    background-color:#F2F2F2;
    padding-bottom:45px;
}
.portfolio-heading {
    color: #00bd9c;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}


.carousel-inner > .item > .carousel-image {
    width: 100%;
    height: 500px;
    text-align: center;
    align: center;
}

#csl-item1 {
    background:url(images/foodjournal/1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#csl-item2 {
    background:url(images/foodjournal/2.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
#csl-item3 {
    background:url(images/foodjournal/3.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.clear {
    clear: both;
}
.header {
    font-size: 30px;
    font-weight: 400;
    margin: 25px 0px 0px;
}
.text {
    font-size: 16;
    font-weight: 300;
    line-height: 25px;
    margin-top: 20px;
}
#buttonbar {
    margin-top: 20px;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
}
.button {
    display: inline-block;
    margin: 0px 5px;
    padding: 7px;
    width: 80px;
    text-align: center;
    background: #D0D0D0;
    border-radius: 2px;
}
.floatingimagewrapper, .floatingimagewrapperwide, .floatingimagewrapperxwide {
    float: right;
    display: block;
    background: #fff;
    margin: 7px 0 20px 20px;
    padding: 5px;
    width: 207px;
}

.floatingimagewrapperwide {
    width: 278px;
}

.floatingimagewrapperxwide {
    width: 370px;
}

.floatingimagewrapperxwide a {
    border: none;
    text-decoration: none;
}

.snippet img{
    width: auto;
    height:auto;
    float: left;
    padding-bottom: 20px;
    padding-left:20px;
}

#social {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f2f2f2;
    text-align: center;
}

#social i {
    font-size: 40px;
    color: #4a4a4a
}

#social i:hover {
    color: #1abc9c
}

#footerwrap {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #2f2f2f;
}

#footerwrap p {
    color: #f2f2f2;
    text-align: center;
}

/* Skills Section */
.skills .skillset .item {
    margin-bottom: 30px;
}
.skills .skillset .level-title {
    font-size: 16px;
    position: relative;
    margin-top: 0;
    margin-bottom: 10;
}
.skills .skillset .level-title .level-label {
    font-size: 14px;
    font-weight: 400;
    font-family: "Lato", arial, sans-serif;
    position: absolute;
    right: 0;
    top: 0;
}
.skills .skillset .level-bar {
    height: 15px;
    background: #ffffff;
}
.skills .skillset .level-bar-inner {
    height: 15px;
    background: #00bd9c;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}












